<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lab1</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
</head>
<body>
    <div th:each="res : ${results}"  class="result">
        <table >
            <tr>
                <th colspan="1"></th>
                <th th:colspan="${res.table().getLength()}">Alternatives</th>
            </tr>
            <tr >
                <th>Criteria</th>
                <th th:each="tableArray, iterStat : ${res.table().alternatives()}"
                    th:text="'A' + ${iterStat.index + 1}"></th>
            </tr>
            <tr >
                <td>Q1</td>
                <td th:each="vector : ${res.table().alternatives()}"
                    th:text="${vector[0]}"></td>
            </tr>
            <tr>
                <td>Q2</td>
                <td th:each="vector : ${res.table().alternatives()}"
                    th:text="${vector[1]}"></td>
            </tr>
            <tr th:each="method : ${res.methods()}">
                <td th:text="${method.methodName()}"></td>
                <td th:each="dom : ${method.domination().a()}"
                    th:text="${dom}"></td>
            </tr>
        </table>
        <div th:each="method : ${res.methods()}">
            <p th:text="${method.methodName()} + ' set of solutions: ' + ${method.domination().collectResult()}"></p>
        </div>
        <div  class="images">
            <img th:each="method : ${res.methods()}" class="scatter-plot" th:src="'http://localhost:8080/api/v1/lab1/results/download/scatter/' + ${method.fileName()}" th:alt="${method.methodName()}">
        </div>
    </div>

</body>
</html>